@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family= Titillium + Web & display = swap');
@font-face {
    font-family: 'FonteLogo';
    src: url("../fonts/bubblegum-sans-regular.otf");
}

body {
    font-family: Arial, sans-serif;
    /*TIPO DE LETRA */
    background-color: #dddddd;
    color: rgb(0, 0, 0, 1);
}